<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/">
      <mat-icon>monitoring</mat-icon>
      <span>Mini-Netumo</span>
    </a>
  </div>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="/dashboard" routerLinkActive="active">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/targets" routerLinkActive="active">
        <mat-icon>track_changes</mat-icon>
        <span>Targets</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/alerts" routerLinkActive="active">
        <mat-icon>notifications</mat-icon>
        <span>Alerts</span>
      </a>
    </li>
  </ul>
</nav>
